Specification/IECWorkOrder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="IECWorkOrder" targetNamespace="http://aidon.com/IEC/WorkOrder/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://aidon.com/IEC/WorkOrder/v1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://aidon.com/IEC/WorkOrder/v1/WorkOrderMessage" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://aidon.com/IEC/WorkOrder/v1/WorkOrderMessage">
			<xs:import namespace="http://iec.ch/TC57/2011/schema/message"/>
			<xs:import namespace="http://aidon.com/IEC/WorkOrder/v1/Common"/>
			<xs:import namespace="http://aidon.com/IEC/WorkOrder/v1/ActivityRecord"/>
			<xs:import namespace="http://aidon.com/IEC/WorkOrder/v1/Reading"/>
			<xs:element name="ChangeWorkOrderRequest" type="tns:ChangeWorkOrderRequestMessageType"/>
			<xs:complexType name="ChangeWorkOrderRequestMessageType">
				<xs:complexContent mixed="false">
					<xs:extension base="tns:RequestMessageTypePayloadBase">
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="1" name="Payload" type="tns:ChangeWorkOrderRequestPayloadType"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="RequestMessageTypePayloadBase" abstract="true">
				<xs:complexContent mixed="false">
					<xs:extension base="tns:RequestMessageTypeBase"/>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="RequestMessageTypeBase" abstract="true">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="Header" type="q1:HeaderType" xmlns:q1="http://iec.ch/TC57/2011/schema/message"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ChangeWorkOrderRequestPayloadType">
				<xs:complexContent mixed="false">
					<xs:extension base="tns:PayloadTypeBase">
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="1" name="Work" type="tns:ChangeWorkRequest"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="PayloadTypeBase" abstract="true"/>
			<xs:complexType name="ChangeWorkRequest">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="mRID" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="referenceId" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="errandId" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="errandStatusKind" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="kind" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" name="requestDateTime" type="xs:dateTime"/>
					<xs:element minOccurs="0" maxOccurs="1" name="targetDateTime" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" maxOccurs="1" name="actualDateTime" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" maxOccurs="1" name="statusKind" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="orderDetails" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="UsagePoint" type="q2:identifiedObject" xmlns:q2="http://aidon.com/IEC/WorkOrder/v1/Common"/>
					<xs:element minOccurs="0" maxOccurs="1" name="EndDevice" type="q3:identifiedObject" xmlns:q3="http://aidon.com/IEC/WorkOrder/v1/Common"/>
					<xs:element minOccurs="0" maxOccurs="1" name="createdBy" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="performerUnit" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="fieldEngineer" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="connectionStatus" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="placementDetails" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="voltage" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" maxOccurs="1" name="ratedCurrent" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" maxOccurs="1" name="phaseCode" type="tns:phaseCode"/>
					<xs:element minOccurs="0" maxOccurs="1" name="deviationKind" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="antennaType" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="completionDetails" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="ActivityRecords" type="q4:ActivityRecords" xmlns:q4="http://aidon.com/IEC/WorkOrder/v1/ActivityRecord"/>
					<xs:element minOccurs="0" maxOccurs="1" name="Readings" type="q5:Readings" xmlns:q5="http://aidon.com/IEC/WorkOrder/v1/Reading"/>
					<xs:element minOccurs="0" maxOccurs="1" name="OldAsset" type="tns:Asset"/>
					<xs:element minOccurs="0" maxOccurs="1" name="NewAsset" type="tns:Asset"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="phaseCode">
				<xs:attribute name="ref" type="xs:string"/>
			</xs:complexType>
			<xs:complexType name="Asset">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="EndDevice" type="q6:identifiedObject" xmlns:q6="http://aidon.com/IEC/WorkOrder/v1/Common"/>
					<xs:element minOccurs="0" maxOccurs="1" name="Readings" type="q7:Readings" xmlns:q7="http://aidon.com/IEC/WorkOrder/v1/Reading"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ChangeWorkOrderResponse" type="tns:ChangeWorkOrderResponseMessageType"/>
			<xs:complexType name="ChangeWorkOrderResponseMessageType">
				<xs:complexContent mixed="false">
					<xs:extension base="tns:ResponseMessageTypeBase"/>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="ResponseMessageTypeBase" abstract="true">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="Header" type="q8:HeaderType" xmlns:q8="http://iec.ch/TC57/2011/schema/message"/>
					<xs:element minOccurs="0" maxOccurs="1" name="Reply" type="q9:ReplyType" xmlns:q9="http://iec.ch/TC57/2011/schema/message"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CreateWorkOrderRequest" type="tns:CreateWorkOrderRequestMessageType"/>
			<xs:complexType name="CreateWorkOrderRequestMessageType">
				<xs:complexContent mixed="false">
					<xs:extension base="tns:RequestMessageTypeBase">
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="1" name="Payload" type="tns:WorkOrderRequestPayloadType"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="WorkOrderRequestPayloadType">
				<xs:complexContent mixed="false">
					<xs:extension base="tns:PayloadTypeBase">
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="1" name="Work" type="tns:WorkRequest"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="WorkRequest">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="mRID" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="referenceId" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="errandId" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="errandStatusKind" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="kind" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" name="requestDateTime" type="xs:dateTime"/>
					<xs:element minOccurs="0" maxOccurs="1" name="targetDateTime" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" maxOccurs="1" name="statusKind" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="orderDetails" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="UsagePoint" type="q10:identifiedObject" xmlns:q10="http://aidon.com/IEC/WorkOrder/v1/Common"/>
					<xs:element minOccurs="0" maxOccurs="1" name="EndDevice" type="q11:identifiedObject" xmlns:q11="http://aidon.com/IEC/WorkOrder/v1/Common"/>
					<xs:element minOccurs="0" maxOccurs="1" name="createdBy" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="performerUnit" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="fieldEngineer" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="connectionStatus" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="placementDetails" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="voltage" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" maxOccurs="1" name="ratedCurrent" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" maxOccurs="1" name="phaseCode" type="tns:phaseCode"/>
					<xs:element minOccurs="0" maxOccurs="1" name="antennaType" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="CreateWorkOrderResponse" type="tns:CreateWorkOrderResponseMessageType"/>
			<xs:complexType name="CreateWorkOrderResponseMessageType">
				<xs:complexContent mixed="false">
					<xs:extension base="tns:ResponseMessageTypeBase">
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="1" name="Payload" type="tns:WorkOrderResponsePayloadType"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="WorkOrderResponsePayloadType">
				<xs:complexContent mixed="false">
					<xs:extension base="tns:PayloadTypeBase">
						<xs:sequence>
							<xs:element minOccurs="1" maxOccurs="1" name="Work" nillable="true" type="tns:WorkResponse"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="WorkResponse">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="mRID" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="referenceId" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="errandId" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="errandStatusKind" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="kind" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="requestDateTime" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" maxOccurs="1" name="targetDateTime" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" maxOccurs="1" name="actualDateTime" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" maxOccurs="1" name="statusKind" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="orderDetails" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="UsagePoint" type="q12:identifiedObject" xmlns:q12="http://aidon.com/IEC/WorkOrder/v1/Common"/>
					<xs:element minOccurs="0" maxOccurs="1" name="EndDevice" type="q13:identifiedObject" xmlns:q13="http://aidon.com/IEC/WorkOrder/v1/Common"/>
					<xs:element minOccurs="0" maxOccurs="1" name="createdBy" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="performerUnit" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="fieldEngineer" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="connectionStatus" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="placementDetails" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="voltage" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" maxOccurs="1" name="ratedCurrent" nillable="true" type="xs:int"/>
					<xs:element minOccurs="0" maxOccurs="1" name="phaseCode" type="tns:phaseCode"/>
					<xs:element minOccurs="0" maxOccurs="1" name="deviationKind" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="antennaType" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="completionDetails" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="ActivityRecords" type="q14:ActivityRecords" xmlns:q14="http://aidon.com/IEC/WorkOrder/v1/ActivityRecord"/>
					<xs:element minOccurs="0" maxOccurs="1" name="Readings" type="q15:Readings" xmlns:q15="http://aidon.com/IEC/WorkOrder/v1/Reading"/>
					<xs:element minOccurs="0" maxOccurs="1" name="OldAsset" type="tns:Asset"/>
					<xs:element minOccurs="0" maxOccurs="1" name="NewAsset" type="tns:Asset"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://iec.ch/TC57/2011/schema/message" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://iec.ch/TC57/2011/schema/message">
			<xs:complexType name="HeaderType">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="Verb">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="cancel"/>
								<xs:enumeration value="canceled"/>
								<xs:enumeration value="change"/>
								<xs:enumeration value="changed"/>
								<xs:enumeration value="create"/>
								<xs:enumeration value="created"/>
								<xs:enumeration value="close"/>
								<xs:enumeration value="closed"/>
								<xs:enumeration value="delete"/>
								<xs:enumeration value="deleted"/>
								<xs:enumeration value="get"/>
								<xs:enumeration value="reply"/>
								<xs:enumeration value="execute"/>
								<xs:enumeration value="executed"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="1" maxOccurs="1" name="Noun" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" name="Timestamp" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="1" maxOccurs="1" name="Source" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="ReplyAddress" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" name="MessageID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" name="CorrelationID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="AccessToken" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="OrganisationID" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="UseGuaranteedDelivery" type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ReplyType">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="Result">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="OK"/>
								<xs:enumeration value="PARTIAL"/>
								<xs:enumeration value="FAILED"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="Error" type="tns:ErrorType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorType">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="code" nillable="true" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" name="level">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="INFORM"/>
								<xs:enumeration value="WARNING"/>
								<xs:enumeration value="FATAL"/>
								<xs:enumeration value="CATASTROPHIC"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element minOccurs="0" maxOccurs="1" name="reason" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="details" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="stackTrace" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="ID">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:string">
									<xs:attribute name="objectType" type="xs:string"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://aidon.com/IEC/WorkOrder/v1/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://aidon.com/IEC/WorkOrder/v1/Common">
			<xs:complexType name="identifiedObject">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="mRID" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://aidon.com/IEC/WorkOrder/v1/ActivityRecord" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://aidon.com/IEC/WorkOrder/v1/ActivityRecord">
			<xs:complexType name="ActivityRecords">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="ActivityRecord" type="tns:ActivityRecord"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ActivityRecord">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="Documents" type="tns:Documents"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Documents">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="Document" type="tns:Document"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Document">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="mRID" type="xs:string"/>
					<xs:element minOccurs="1" maxOccurs="1" name="createdDateTime" type="xs:dateTime"/>
					<xs:element minOccurs="0" maxOccurs="1" name="title" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="1" name="ElectronicAddress" type="tns:ElectronicAddress"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ElectronicAddress">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="web" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://aidon.com/IEC/WorkOrder/v1/Reading" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://aidon.com/IEC/WorkOrder/v1/Reading">
			<xs:complexType name="Readings">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="Reading" type="tns:Reading"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Reading">
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1" name="timestamp" type="xs:dateTime"/>
					<xs:element minOccurs="1" maxOccurs="1" name="value" type="xs:decimal"/>
					<xs:element minOccurs="1" maxOccurs="1" name="ReadingType" nillable="true" type="tns:ReadingType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ReadingType">
				<xs:attribute name="ref" type="xs:string"/>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ChangeWorkOrderRequest">
		<wsdl:part name="ChangeWorkOrderRequest" element="q1:ChangeWorkOrderRequest" xmlns:q1="http://aidon.com/IEC/WorkOrder/v1/WorkOrderMessage"/>
	</wsdl:message>
	<wsdl:message name="ChangeWorkOrderResponse">
		<wsdl:part name="ChangeWorkOrderResponse" element="q2:ChangeWorkOrderResponse" xmlns:q2="http://aidon.com/IEC/WorkOrder/v1/WorkOrderMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateWorkOrderRequest">
		<wsdl:part name="CreateWorkOrderRequest" element="q3:CreateWorkOrderRequest" xmlns:q3="http://aidon.com/IEC/WorkOrder/v1/WorkOrderMessage"/>
	</wsdl:message>
	<wsdl:message name="CreateWorkOrderResponse">
		<wsdl:part name="CreateWorkOrderResponse" element="q4:CreateWorkOrderResponse" xmlns:q4="http://aidon.com/IEC/WorkOrder/v1/WorkOrderMessage"/>
	</wsdl:message>
	<wsdl:portType name="IIECWorkOrder">
		<wsdl:operation name="ChangeWorkOrder">
			<wsdl:input wsaw:Action="http://aidon.com/IEC/WorkOrder/v1/IECWorkOrderPortType/ChangeWorkOrderRequest" name="ChangeWorkOrderRequest" message="tns:ChangeWorkOrderRequest"/>
			<wsdl:output wsaw:Action="http://aidon.com/IEC/WorkOrder/v1/IECWorkOrderPortType/ChangeWorkOrderResponse" name="ChangeWorkOrderResponse" message="tns:ChangeWorkOrderResponse"/>
		</wsdl:operation>
		<wsdl:operation name="CreateWorkOrder">
			<wsdl:input wsaw:Action="http://aidon.com/IEC/WorkOrder/v1/IECWorkOrderPortType/CreateWorkOrderRequest" name="CreateWorkOrderRequest" message="tns:CreateWorkOrderRequest"/>
			<wsdl:output wsaw:Action="http://aidon.com/IEC/WorkOrder/v1/IECWorkOrderPortType/CreateWorkOrderResponse" name="CreateWorkOrderResponse" message="tns:CreateWorkOrderResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IECWorkOrder" type="tns:IIECWorkOrder">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ChangeWorkOrder">
			<soap:operation soapAction="http://aidon.com/IEC/WorkOrder/v1/IECWorkOrderPortType/ChangeWorkOrderRequest" style="document"/>
			<wsdl:input name="ChangeWorkOrderRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ChangeWorkOrderResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateWorkOrder">
			<soap:operation soapAction="http://aidon.com/IEC/WorkOrder/v1/IECWorkOrderPortType/CreateWorkOrderRequest" style="document"/>
			<wsdl:input name="CreateWorkOrderRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateWorkOrderResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IECWorkOrder">
		<wsdl:port name="IECWorkOrder" binding="tns:IECWorkOrder">
			<soap:address location="http://localhost:58265/IECWorkOrderTestingSubscriber.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>